html body
    {

        color: rgb(255, 255, 255);
        background-image: linear-gradient(
            to top right,
            rgb(0, 0, 0),
            rgb(0, 0, 17),
            rgb(0, 4, 53),
            rgb(0, 21, 112)
            
        );
        min-height: 100vh;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
html body p
    {

        color: rgb(255, 255, 255);

    }


html article
    {

        border: 3px solid rgb(0, 0, 0);
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin: left min(25px);
        margin: right min(25px);
        padding: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: 28rem;
        background-color: rgba(28, 28, 28, 0.575);
        border-radius: 10px;

    }
html article a img
    {

        width:  9rem;
        border-radius:  50%;
        border: 3px solid black;

    }

a
    {

        color: rgba(255, 255, 255, 1);

    }

html article ul li
    {

        font-size: 75%;

    }
a:hover,
a:active
    {

        color: rgb(0, 23, 126);
        font-weight: bold;

    }

a:hover img
    {

        border-color: rgb(0, 23, 126);

    }

button
    {

        font-size: 1.1rem;
        background-color: rgba(24, 24, 24, 0);
        color: rgb(255, 255, 255);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: relative;
        top: 15px;
        border: 1px solid black;
        border-width: 2px;
        border-radius: 6px;
    }

button:hover,
button:active 
  {
      background-color: rgb(0, 23, 126);
      transition-duration: 0.9s;
      color: rgba(0, 0, 0);
        
  }

  /* Add a black background color to the top navigation */
.topnav 
  {
    
    background-color: rgba(0, 0, 0, 0.445);
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-left: 29.315em;
    margin-right: 29.315em;
    margin-bottom: 1em;
    height: 1.5em;
    font-size: 1em;
    border-radius: 8px;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a 
  {
    
    float: center;
    color: #f2f2f273;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3em;
    border-radius: 8px;
    margin-top: 5em;
    margin-bottom: 5em;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover 
  {
    
    background-color: #f2f2f273;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 5em;
    margin-bottom: 5em;
    
  }
  
  /* Add a color to the active/current link */
  .topnav a.active 
  {
    
    background-color: rgb(0, 23, 126);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 8px;
    margin-top: 5em;
    margin-bottom: 5em;
    
  }

table, .table
    {

        display: table;
        border-collapse: separate;
        box-sizing: inherit;
        border-color: rgb(255, 0, 0);
        text-indent: initial;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5;  
        border-width: 1px;
        border: 1px;
        border-spacing: 0;
        box-sizing: border-box;

    }

.copyright
    {

        display: block;
        flex-direction: row;
        padding-top: 2.71em;
        font-size: 0.69em;

    }

.loginPageButton
    {

        margin-top: 200em;
        padding-top: 500em;
        
    }

.underPage
    {

        margin-top: 200em;
        padding-top: 500em;
        
    }

aside
    {

        text-align: left;   
        display: grid;

    }

/* Gallery */
.gallerygui
    {

        width: 10em;
        height: 10em;     
        border-radius: 10px;
        border: 3px solid black;
        margin: 0.8em;

    }

    body {
        color: rgb(255, 255, 255);
        background-image: linear-gradient(to top right, rgb(0, 0, 0), rgb(0, 0, 17), rgb(0, 4, 53), rgb(0, 21, 112));
        min-height: 100vh;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .container {
        position: fixed;
        top: 0;
        height: 0;
    
        width: 100%;
        height: 100%;
    }
        
    html body p {
        color: rgb(255, 255, 255);
    }
    
    .panel {
        position: fixed;
        top: 85px;
        left: 50%;
    
        transform: translateX(-50%);
    
        background-color: rgba(28, 28, 28, 0.575);
        border-radius: 10px;
        border: 3px solid rgb(0, 0, 0);
    
        width: 520px;
        height: 550px;
    
        transition: all 0.5s;
    }
    
    .panel:hover {
        box-shadow: 0 0 12px 1px rgb(18, 0, 109);
        transition: all 0.5s;
    }
    
    .icon img {
        width: 140px;
    }
    
    .nav {
        position: fixed;
        top: 0;
        left: 50%;
    
        transform: translateX(-50%);
    }
    
    .nav .sub-container {
        background: rgb(0, 0, 17);
        border-radius: 10px;
    }
    
    .nav .col a[active] {
        color: rgb(0, 0, 17);
        background: blue;
        border-radius: 6px;
        font-weight: bold;
    }
    
    .nav .col {
        list-style: none;
    
        min-width: max-content;
    }
    
    .nav .row {
        display: inline-flex;
        margin: 4px;
        padding: 4px;
    }
    
    .nav .row a {
        padding: 8px;
    
        color: gray;
    
        font-family: 'Roboto', Arial, sans-serif;
        font-size: 17px;
    
        text-decoration: none;
    
        transition: all 0.1s;
    }
    
    .nav .row a:hover {
        transform: scale(1.1);
        color: white;
        transition: all 0.1s;
    }
    
    .wrapper .row {
        list-style: circle;
        text-align: left;
    
        position: relative;
        left: 50%;
        transform: translateX(-44%);
    }
    
    .wrapper p {
        font-size: 15px;
        font-family: "Segoe UI", Arial, sans-serif;
    }
    
    .wrapper h1 {
        font-size: 25px;
        font-family: "Segoe UI", Arial, sans-serif;
    }
    
    .wrapper .col {
        margin: 1px;
        font-family: "Segoe UI", Arial, sans-serif;
        font-size: 12px;
    }
    
    .wrapper .icon {
        position: relative;
        top: 25px;
    }
    
    .wrapper .icon img {
        width: 140px;
        border: 3px solid black;
        border-radius: 50%;
        transition: all 0.3s;
    }
    
    .wrapper .icon img:hover {
        border: 3px solid rgb(0, 0, 199);
        border-radius: 50%;
        transform: scale(1.1);
        transition: all 0.3s;
    }
    
    .sub-wrapper {
        position: relative;
        top: 32px;
    }
    
    .footer {
        position: relative;
        top: 20px;
    }
    
    .footer p {
        font-family: 'Segoe UI', Arial, sans-serif;
        font-size: 12px;
    }
    body {
        color: rgb(255, 255, 255);
        background-image: linear-gradient(to top right, rgb(0, 0, 0), rgb(0, 0, 17), rgb(0, 4, 53), rgb(0, 21, 112));
        min-height: 100vh;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .container {
        position: fixed;
        top: 0;
        height: 0;
    
        width: 100%;
        height: 100%;
    }
        
    html body p {
        color: rgb(255, 255, 255);
    }
    
    .panel {
        position: fixed;
        top: 85px;
        left: 50%;
    
        transform: translateX(-50%);
    
        background-color: rgba(28, 28, 28, 0.575);
        border-radius: 10px;
        border: 3px solid rgb(0, 0, 0);
    
        width: 520px;
        height: 550px;
    
        transition: all 0.5s;
    }
    
    .panel:hover {
        box-shadow: 0 0 12px 1px rgb(18, 0, 109);
        transition: all 0.5s;
    }
    
    .icon img {
        width: 140px;
    }
    
    .nav {
        position: fixed;
        top: 0;
        left: 50%;
    
        transform: translateX(-50%);
    }
    
    .nav .sub-container {
        background: rgb(0, 0, 17);
        border-radius: 10px;
    }
    
    .nav .col a[active] {
        color: rgb(0, 0, 17);
        background: blue;
        border-radius: 6px;
        font-weight: bold;
    }
    
    .nav .col {
        list-style: none;
    
        min-width: max-content;
    }
    
    .nav .row {
        display: inline-flex;
        margin: 4px;
        padding: 4px;
    }
    
    .nav .row a {
        padding: 8px;
    
        color: gray;
    
        font-family: 'Roboto', Arial, sans-serif;
        font-size: 17px;
    
        text-decoration: none;
    
        transition: all 0.1s;
    }
    
    .nav .row a:hover {
        transform: scale(1.1);
        color: white;
        transition: all 0.1s;
    }
    
    .wrapper .row {
        list-style: circle;
        text-align: left;
    
        position: relative;
        left: 50%;
        transform: translateX(-44%);
    }
    
    .wrapper p {
        font-size: 15px;
        font-family: "Segoe UI", Arial, sans-serif;
    }
    
    .wrapper h1 {
        font-size: 25px;
        font-family: "Segoe UI", Arial, sans-serif;
    }
    
    .wrapper .col {
        margin: 1px;
        font-family: "Segoe UI", Arial, sans-serif;
        font-size: 12px;
    }
    
    .wrapper .icon {
        position: relative;
        top: 25px;
    }
    
    .wrapper .icon img {
        width: 140px;
        border: 3px solid black;
        border-radius: 50%;
        transition: all 0.3s;
    }
    
    .wrapper .icon img:hover {
        border: 3px solid rgb(0, 0, 199);
        border-radius: 50%;
        transform: scale(1.1);
        transition: all 0.3s;
    }
    
    .sub-wrapper {
        position: relative;
        top: 32px;
    }
    
    .footer {
        position: relative;
        top: 20px;
    }
    
    .footer p {
        font-family: 'Segoe UI', Arial, sans-serif;
        font-size: 12px;
    }
    