*
    {

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        padding:  0;
        text-decoration: none;
        box-sizing: border-box;

    }

body
    {

        min-height: 100vh;
        background: linear-gradient(to top right, rgb(0, 255, 179), rgb(0, 255, 106),rgb(15, 128, 0));

    }

form
    {

        background: rgba(49, 49, 49, 0.288);
        width: 380px;
        height: 300px;
        padding: 75px, 50px;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);

    }

h1
    {

        text-align: center;
        margin-bottom: 45px;
        color: white;
        font-size: 25px;

    }

.textBox
    {

        border-bottom: 2px solid white;
        position: relative;
        margin: 35px 0;

    }

.textBox input
    {

        background: none;
        border: none;
        outline: none;
        width: 100%;
        color: white;
        height: 30px;
        font-size: 20px;

    }

.loginButton
    {

        height: 45px;
        width: 100%;
        border: none;
        outline: none;
        background: linear-gradient(to top right, rgb(0, 255, 179), rgb(0, 255, 106),rgb(15, 128, 0));
        background-size: 200%;
        transition: 0.5s;
        color: white;
        font-size: 16px;

    }

.loginButton:hover
    {

        background-position: right;
        font-size: 18px;

    }

a
    {

        text-align: center;
        color: black;

    }

a
    {

        text-align: center;
        color: black;

    }