body {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to top right, rgb(0, 0, 0), rgb(0, 0, 17), rgb(0, 4, 53), rgb(0, 21, 112));
    min-height: 100vh;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    position: fixed;
    top: 0;
    height: 0;

    width: 100%;
    height: 100%;
}
    
html body p {
    color: rgb(255, 255, 255);
}

.panel {
    position: fixed;
    top: 85px;
    left: 50%;

    transform: translateX(-50%);

    background-color: rgba(28, 28, 28, 0.575);
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);

    width: 520px;
    height: 550px;

    transition: all 0.5s;
}

.panel:hover {
    box-shadow: 0 0 12px 1px rgb(18, 0, 109);
    transition: all 0.5s;
}

.icon img {
    width: 140px;
}

.nav {
    position: fixed;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
}

.nav .sub-container {
    background: rgb(0, 0, 17);
    border-radius: 10px;
}

.nav .col a[active] {
    color: rgb(0, 0, 17);
    background: blue;
    border-radius: 6px;
    font-weight: bold;
}

.nav .col {
    list-style: none;

    min-width: max-content;
}

.nav .row {
    display: inline-flex;
    margin: 4px;
    padding: 4px;
}

.nav .row a {
    padding: 8px;

    color: gray;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 17px;

    text-decoration: none;

    transition: all 0.1s;
}

.nav .row a:hover {
    transform: scale(1.1);
    color: white;
    transition: all 0.1s;
}

.wrapper .row {
    list-style: circle;
    text-align: left;

    position: relative;
    left: 50%;
    transform: translateX(-44%);
}

.wrapper p {
    font-size: 15px;
    font-family: "Segoe UI", Arial, sans-serif;
}

.wrapper h1 {
    font-size: 25px;
    font-family: "Segoe UI", Arial, sans-serif;
}

.wrapper .col {
    margin: 1px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 12px;
}

.wrapper .icon {
    position: relative;
    top: 25px;
}

.wrapper .icon img {
    width: 140px;
    border: 3px solid black;
    border-radius: 50%;
    transition: all 0.3s;
}

.wrapper .icon img:hover {
    border: 3px solid rgb(0, 0, 199);
    border-radius: 50%;
    transform: scale(1.1);
    transition: all 0.3s;
}

.sub-wrapper {
    position: relative;
    top: 32px;
}

.footer {
    position: relative;
    top: 20px;
}

.footer p {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 12px;
}
